@page "/cognitivesearch"

@using AzureCosmosCognitiveSearchApp.CosmosAPI
@using AzureCosmosCognitiveSearchApp.Models
@using MudBlazor

@inject ICognitiveSearchService CognitiveSearchService

<PageTitle>Cognitive Search</PageTitle>

<h1>This component demonstrates fetching data from an Azure Cognitive service Index</h1>

<p>Enter a word and click the button to initiate a full text search on the index</p>

<div>
    <label>
        <MudSelect @bind-Value="@SearchData.ItemTypeFilter" Label="Item Type" OpenIcon="@Icons.Material.Filled.DocumentScanner" AdornmentColor="Color.Primary" Variant="Variant.Filled">
            <MudSelectItem Value="@("saleHeader")">Sale Header</MudSelectItem>
            <MudSelectItem Value="@("saleAttachment")">Sale Attachment</MudSelectItem>
        </MudSelect>
    </label>
    <label>
        <MudTextField Clearable="true" T="string" Label="Search Documents" @bind-Value="@SearchData.SearchText" HelperText="@SearchbarTooltipText" HelperTextOnFocus="true" Variant="Variant.Text" AdornmentIcon="@Icons.Material.TwoTone.ManageSearch" AdornmentColor="Color.Primary"/>
    </label>
    <label>
        <MudButton OnClick="@(() => Search())" EndIcon="@Icons.Material.Filled.Send" Variant="Variant.Filled" Color="Color.Primary">Search</MudButton>
    </label>
</div>

@if(SaleHeaders is not null && SaleHeaders.Any())
{
    <MudToggleIconButton @bind-Toggled="@FiltersVisible" Icon="@Icons.Material.Filled.FilterAltOff" Color="Color.Primary" Title="Off" ToggledIcon="@Icons.Material.Filled.FilterAlt" ToggledColor="@Color.Success" ToggledTitle="On" />
    <span>Set Filters</span>

    <MudDrawer @bind-Open="@FiltersVisible" DisableOverlay="true" Elevation="1" Variant="@DrawerVariant.Temporary">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Filter the Sale Search</MudText>
        </MudDrawerHeader>
        @if(DepartmentFacet.Count > 0)
        {
        <MudForm>
            <label class="facetheader">Department:</label>
            <MudRadioGroup @bind-SelectedOption="@SearchData.DepartmentFilter">
                    @foreach(var department in DepartmentFacet)
                    {
                        <MudRadio Option="@department.Item1" Color="Color.Primary">@department.Item1 count: @department.Item2</MudRadio>
                        <br />
                    }
            </MudRadioGroup>
        </MudForm>
        <hr style="width:60%">
        }
        <div class="d-flex align-center">
            <MudTooltip Text="Clear filter" Color="Color.Info">
                <MudIconButton OnClick="@(() => ClearFilters())" Icon="@Icons.Material.Filled.Delete" Color="Color.Primary">Clear Filter</MudIconButton>/>
            </MudTooltip>
        </div>
    </MudDrawer>
    }
}

<div class="d-flex mud-width-full align-center mt-8">
    <MudText Typo="Typo.subtitle1" Class="mr-2">Selected filters: </MudText>
    <MudChip Color="Color.Primary">@SearchData.ItemTypeFilter</MudChip>
</div>

@if (!HasSearched)
{
    <p>Click the search button to search the Index, leave text blank for all documents</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Balance</th>
                <th>Region</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in SaleHeaders!)
            {
                <tr>
                    <td>@user.Id</td>
                </tr>
            }
        </tbody>
    </table>
}